.menu__nav {
  height: 100vh;
  background-color: #fff;

  display: none;

  &--list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }
}

.open {
  display: block;
}
